
    <div id="sidebar">
        <div id="side-menu">
            <div class="nav-about-active">
              <h2><a href="index.php?page=about-marlboro-connections" class="about"><span>&nbsp;</span></a></h2>
              <div class="side-submenu">
                <a href="index.php?page=prizes">Prizes</a>
                <a href="index.php?page=howtoplay">How to Play</a>
                <a href="index.php?page=terms-and-condition">Terms and Conditions</a>
              </div>
            </div>
            <div class="nav-whats">
              <h2><a href="index.php?page=news" class="whats"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-code">
              <h2><a href="index.php?page=code" class="code"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-badge">
                  <h2><a href="index.php?page=code&act=trade" class="badge"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-reedem">
                  <h2><a href="index.php?page=code&act=prize" class="reedem"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-game">
                 <h2><a href="index.php?page=games" class="game"><span>&nbsp;</span></a></h2>
            </div>
        </div>
    </div><!-- #sidebar -->
    <div id="content">
    	<div id="about">
        	<div class="content">
            	<img src="images/what-its-connection.png" />
            	<div class="about">  
               	 
                    <p>Connections is an unforgettable ten days journey to Berlin, Istanbul and New York. An opportunity for you and your adult smoke friend to be VIPs as you're taken from one unique experience to another.</p>
                    <p>Have fun unlocking each city's badges. Each badge tells part of the connections story and is unlocked using connection codes. Explore your city, find the codes, trade badges with adult smoker friend redeem them for special prizes. Discover all the badges and unique experiences await you!</p>
					<a href="#videoPlay">
                		<img class="toggleBox" alt="video" src="images/content/video.png" width="170px">
                	</a>		
                
                	<div id="videoPlay" class="badge-box-medium" style="left: 0;top: 30px;">
    				<div class="contentBadge">
    					<a class="popup-close toggleBox absolute" style="right: 7px;top: -37px;"></a>
    					 <a href="video/Video.m4v" style="display: block;height: 290px;left: -12px;margin: 0 auto;position: absolute;top: 10px;width: 535px;" id="player"> </a> 
    					 
		<!-- this will install flowplayer inside previous A- tag. -->
		<script language="JavaScript">
			flowplayer("player", "flowplayer/flowplayer-3.2.7.swf");
		</script>
                </div><!-- .about -->
                
                
            </div><!-- .content -->
        </div><!-- #about -->
    </div><!-- #content -->
    </div>
    </div>
<div class="page-about"></div>
<script>
    {literal}
    $(".toggleBox").click( function() {
        $("#videoPlay").fadeToggle("slow");
		});
    {/literal}
    </script>