{literal}
<style type="text/css">
#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}
</style>
{/literal}

<div id="sidebar">
        <div id="side-menu">
            <div class="nav-about">
              <h2><a href="index.php?page=about-marlboro-connections" class="about"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-whats">
              <h2><a href="index.php?page=news" class="whats"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-code">
              <h2><a href="index.php?page=code" class="code"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-badge-active">
                  <h2><a href="#" class="badge"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-reedem">
                  <h2><a href="index.php?page=code&act=prize" class="reedem"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-game">
                 <h2><a href="index.php?page=games" class="game"><span>&nbsp;</span></a></h2>
            </div>
        </div>
    </div><!-- #sidebar -->
    <div id="content">
    	<div id="badge">
    		<div class="content">
    			<div class="badge-trade">
    				 <a href="#listBadgeRequest" class="btn-badgetrade toggleBox"></a>
    			</div>
    <!-- POPUP 1  -->			
    			<div id="listBadgeRequest" class="requestBadge">
    				<div class="contentBadge">
    					<a class="popup-close toggleBox"></a>
    					<div class="head">
    						<h3>BADGE TRADE</h3>
    						<p>Select one of your badges and select the badge you would like to trade it for</p>
    					</div>
    					<form id="formRequestTrade">
    					<div class="badgeKiri">
    					<p>My Badges</p>
							{assign var=num value=1}
							{section name=i loop=$have}
							{if $num eq 7}
							
    						<div class="badge-box">
                        		<div class="badge-img">
                            		<img src="images/badge/badge{if $have[8].total eq 0}9_grey{else}{$have[8].id}{/if}.png" {if $have[8].total != 0}class="toolTip" title="{$have[8].total}"{/if} />
                            	</div>
                            	<div class="badge-cek">
									{if $have[8].total > 0}
                            		 <input type="checkbox" name="have_{$have[8].id}" id="checkbox" onclick="javascript:trade.haveSelect(9);" />
									{/if}
								</div>
                        	</div>
                        	{elseif $num eq 9}
                        	<div class="badge-box">
                        		<div class="badge-img">
                            		<img src="images/badge/badge{if $have[6].total eq 0}7_grey{else}{$have[6].id}{/if}.png" {if $have[6].total != 0}class="toolTip" title="{$have[6].total}"{/if} />
                            	</div>
                            	<div class="badge-cek">
									{if $have[6].total > 0}
                            		 <input type="checkbox" name="have_{$have[6].id}" id="checkbox" onclick="javascript:trade.haveSelect(7);" />
									{/if}
								</div>
                        	</div>
                        	{else}
                        		<div class="badge-box">
                        		<div class="badge-img">
                            		<img src="images/badge/badge{if $have[i].total eq 0}{$num}_grey{else}{$have[i].id}{/if}.png" {if $have[i].total != 0}class="toolTip" title="{$have[i].total}"{/if} />
                            	</div>
                            	<div class="badge-cek">
									{if $have[i].total > 0}
                            		 <input type="checkbox" name="have_{$have[i].id}" id="checkbox" onclick="javascript:trade.haveSelect({$num});" />
									{/if}
								</div>
                        	</div>
                        	{/if}
							{assign var=num value=$num+1}
							{/section}
                        	
    					</div>
    					
    					<div class="badgeKanan">
    					<p>What I Need</p>
    						<div class="badge-box">
                        		<div class="badge-img">
                            		<img src="images/badge/badge1.png" />
                            	</div>
                            	<div class="badge-cek">
                            		 <input type="checkbox" name="req_1" id="checkbox" onclick="javascript:trade.reqSelect(1);" />
                            	</div>
                        	</div>
                        	<div class="badge-box">
                        		<div class="badge-img">
                            		<img src="images/badge/badge2.png" />
                            	</div>
                            	<div class="badge-cek">
                            		 <input type="checkbox" name="req_2" id="checkbox" onclick="javascript:trade.reqSelect(2);" />
                            	</div>
                        	</div>
                        	<div class="badge-box">
                        		<div class="badge-img">
                            		<img src="images/badge/badge3.png" />
                            	</div>
                            	<div class="badge-cek">
                            		 <input type="checkbox" name="req_3" id="checkbox" onclick="javascript:trade.reqSelect(3);" />
                            	</div>
                        	</div>
                        	<div class="badge-box">
                        		<div class="badge-img">
                            		<img src="images/badge/badge4.png" />
                            	</div>
                            	<div class="badge-cek">
                            		 <input type="checkbox" name="req_4" id="checkbox" onclick="javascript:trade.reqSelect(4);" />
                            	</div>
                        	</div>
                        	<div class="badge-box">
                        		<div class="badge-img">
                            		<img src="images/badge/badge5.png" />
                            	</div>
                            	<div class="badge-cek">
                            		 <input type="checkbox" name="req_5" id="checkbox" onclick="javascript:trade.reqSelect(5);" />
                            	</div>
                        	</div>
                        	<div class="badge-box">
                        		<div class="badge-img">
                            		<img src="images/badge/badge6.png" />
                            	</div>
                            	<div class="badge-cek">
                            		 <input type="checkbox" name="req_6" id="checkbox" onclick="javascript:trade.reqSelect(6);" />
                            	</div>
                        	</div>
                        	
                        	<div class="badge-box">
                        		<div class="badge-img">
                            		<img src="images/badge/badge9.png" />
                            	</div>
                            	<div class="badge-cek">
                            		 <input type="checkbox" name="req_9" id="checkbox" onclick="javascript:trade.reqSelect(9);" />
                            	</div>
                        	</div>
                        	<div class="badge-box">
                        		<div class="badge-img">
                            		<img src="images/badge/badge8.png" />
                            	</div>
                            	<div class="badge-cek">
                            		 <input type="checkbox" name="req_8" id="checkbox" onclick="javascript:trade.reqSelect(8);" />
                            	</div>
                        	</div>
                        	<div class="badge-box">
                        		<div class="badge-img">
                            		<img src="images/badge/badge7.png" />
                            	</div>
                            	<div class="badge-cek">
                            		 <input type="checkbox" name="req_7" id="checkbox" onclick="javascript:trade.reqSelect(7);" />
                            	</div>
                        	</div>
                        	<div class="badge-box">
                        		<div class="badge-img">
                            		<img src="images/badge/badge10.png" />
                            	</div>
                            	<div class="badge-cek">
                            		 <input type="checkbox" name="req_10" id="checkbox" onclick="javascript:trade.reqSelect(10);" />
                            	</div>
                        	</div>
                        	<div class="badge-box">
                        		<div class="badge-img">
                            		<img src="images/badge/badge11.png" />
                            	</div>
                            	<div class="badge-cek">
                            		 <input type="checkbox" name="req_11" id="checkbox" onclick="javascript:trade.reqSelect(11);" />
                            	</div>
                        	</div>
                        	<div class="badge-box">
                        		<div class="badge-img">
                            		<img src="images/badge/badge12.png" />
                            	</div>
                            	<div class="badge-cek">
                            		 <input type="checkbox" name="req_12" id="checkbox" onclick="javascript:trade.reqSelect(12);" />
                            	</div>
                        	</div>
    					</div>
    					<div class="controlTrade">
    						<img alt="Trade" src="images/content/arrow.png">
    						<input class="request" type="submit" value="">
    					</div>
    					</form>
    				</div>
    			</div>
    			
   <!-- POPUP 2  -->
    			<div id="badgeRequest" class="badge-box-medium">
    				<div class="contentBadge">
    					<a class="popup-close toggleBox2"></a>
    					<div class="head" style="border: 0 none;">
    						<h1>confirm badge request</h1>
    					</div>
    					<form id="formRequestTradeConfirm" action="#">
    					<img id="confirmMineImg" class="kiri" alt="mine" src="images/badge/badge9-big.png">
    					<img id="confirmYourImg" class="kanan" alt="yours" src="images/badge/badge12-big.png">
    					<div class="controlTrade">
    						<img alt="Trade" src="images/content/arrow.png">
    						<input class="submitted btn-setup" type="submit" value="">
    					</div>
    					</form>
    				</div>
    			</div>
    <!-- POPUP 3  -->
    			<div id="badgeSubmitted" class="badge-box-medium">
    				<div class="contentBadge">
    					<a class="popup-close toggleBox3"></a>
    					<div class="head" style="border: 0 none;">
    						<h1>your request has been submitted!</h1>
    						<p>It has also been posted on the site</p>
    					</div>
    					<form id="formSubmitted" action="index.php?page=code&act=traderequestmatch">
    					<div class="controlTrade">
    						<input type="hidden" name="page" value="code">
    						<input type="hidden" name="act" value="traderequestmatch">
							<input type="hidden" name="want" value="">
							<input type="hidden" name="badge" value="">
    						<input type="submit" value="">
    					</div>
    					</form>
    				</div>
    			</div>
    			
    		</div>
    	</div>
    </div><!-- #content -->
    <script>
    {literal}
    $(".toggleBox").click( function() {
          $(".requestBadge").fadeToggle("slow");
  		});
	
	/*	
    $(".request").click( function() {
        $(".requestBadge").fadeOut("slow");
        $("#badgeRequest").fadeIn("slow");
		});
	*/
	
    $(".toggleBox2").click( function() {
        $("#badgeRequest").fadeOut("slow");
		});
/*		
    $(".submitted").click( function() {
        $("#badgeRequest").fadeOut("slow");
        $("#badgeSubmitted").fadeIn("slow");
		});
*/
    $(".toggleBox3").click( function() {
        $("#badgeSubmitted").fadeOut("slow");
		});
    {/literal}
    </script>