<div id="sidebar">
        <div id="side-menu">
            <div class="nav-about">
              <h2><a href="index.php?page=about-marlboro-connections" class="about"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-whats">
              <h2><a href="index.php?page=news" class="whats"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-code">
              <h2><a href="index.php?page=code" class="code"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-badge">
                  <h2><a href="index.php?page=code&act=trade" class="badge"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-reedem">
                  <h2><a href="index.php?page=code&act=prize" class="reedem"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-game-active">
                 <h2><a href="#" class="game"><span>&nbsp;</span></a></h2>
            </div>
        </div>
    </div><!-- #sidebar -->
    <div id="content">
    	<div id="game">
    		<div class="content">
    			<div class="gamehome">
					<h1>ART MUSEUM</h1>
    				<a href="index.php?page=games&act=berlin_wall">Berlin 1</a><br>
    				<a href="index.php?page=games&act=dj">Berlin 2</a><br>
    				<a href="index.php?page=games&act=yacht">New York</a><br>
    				<a href="index.php?page=games&act=art_museum">Istanbul</a><br>
    			</div>
    		</div>
    	</div>
    </div><!-- #content -->