<div id="sidebar">
        <div id="side-menu">
            <div class="nav-about-active">
              <h2><a href="index.php?page=about-marlboro-connections" class="about"><span>&nbsp;</span></a></h2>
              <div class="side-submenu">
                <a href="index.php?page=prizes">Prizes</a>
                <a href="#" class="active">How to Play</a>
                <a href="index.php?page=terms-and-condition">Terms and Conditions</a>
              </div>
            </div>
            <div class="nav-whats">
              <h2><a href="index.php?page=news" class="whats"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-code">
              <h2><a href="index.php?page=code" class="code"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-badge">
                  <h2><a href="index.php?page=code&act=trade" class="badge"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-reedem">
                  <h2><a href="index.php?page=code&act=prize" class="reedem"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-game">
                 <h2><a href="index.php?page=games" class="game"><span>&nbsp;</span></a></h2>
            </div>
        </div>
    </div><!-- #sidebar -->
    <div id="content">
    	<div id="howtoplay">
        	<div class="content" style="width: 915px;">
            	<div id="scrollcApp" class="howtoplay" style="height:600px; margin: 0 0 0 175px;">  
               	  
               	  <div class="scrollcApp" style="height:1200px">
                        <div class="row">
                            <div class="entry">
                            	<img src="images/content/how-to-play2.png" height="600" />
                            </div>
                        </div>
                   
                        <div class="row">
                            <div class="entry">
                            	<img src="images/content/how-to-play1.png" height="600" / />
                            </div>
                        </div>
                    </div>
                   
                </div><!-- .howtoplay -->
                <div style="position:relative;">            	  	
        				<input type="button" style="bottom: 250px; right: 100px;" id="up">
		<input type="button" style="bottom: 250px; right: 65px;" id="down">   
				</div>
            </div><!-- .content -->
        </div><!-- #howtoplay -->
    </div><!-- #content -->
<div class="page-howtoplay"></div>