<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MARLBORO LIGHTS CONNECTIONS</title>
<link type="text/css" rel="stylesheet" href="css/marlboro.css" />
<script type='text/javascript' src='js/jquery.min.js'></script>
<link rel="stylesheet" href="css/queryLoader.css" type="text/css" />
<script type='text/javascript' src='js/queryLoader.js'></script>

<script type="text/javascript" src="js/landing/fullscreen.js"></script>
<script type="text/javascript" src="js/acit_jquery.js"></script>
{*}
 
<script type="text/javascript" src="js/ui/ui.core.js"></script>
<script type="text/javascript" src="js/ui/ui.accordion.js"></script>
<script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="js/popup.js"></script>
{/*}
<script type="text/javascript" src="js/jquery.pngFix.pack.js"></script> 
<script type="text/javascript" src="js/jquery.pngFix.js"></script> 


<script type="text/javascript" src="js/marlboro.js"></script> 
<script type="text/javascript" src="js/scrollcApp.js"></script> 
<script type="text/javascript" src="js/flowplayer-3.2.6.min.js"></script>
<script type="text/javascript" src="js/swfobject.js"></script>
{*}
<link rel="stylesheet" type="text/css" href="css/skins/tango/skin.css" />
<!--[if IE 7]><link href="css/ie7.css" rel="stylesheet" type="text/css">![endif]-->

<script type="text/javascript">
{literal}
jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel({
        vertical: true,
        scroll: 1,
    });
});
{/literal}
</script>
{/*}
<script type="text/javascript">
{literal}
	$(document).ready ( 
		  function() {
			  
		    if ( $.browser.mozilla == true && $.browser.version == '1.6' ) {
		    	var fileref=document.createElement("link")
		    	  fileref.setAttribute("rel", "stylesheet")
		    	  fileref.setAttribute("type", "text/css")
		    	  fileref.setAttribute("href", "css/firefox30.css");
		    	if (typeof fileref!="undefined")
		    		  document.getElementsByTagName("head")[0].appendChild(fileref)
		    }
		  }
		);
			
{/literal}
</script>
<script type="text/javascript">
{literal}
	$(document).ready(function(){
		$('div').pngFix( );	
		});
{/literal}
</script>


