		<div id="badgeSubmitted" class="badge-box-medium">
    				<div class="contentBadge">
    					<a class="popup-close toggleBox3"></a>
    					<div class="head" style="border: 0 none;">
    						<h1>your request has been submitted!</h1>
    						<p>your trade request has been posted on marlboro connections</p>
    					</div>
    					<form id="formSubmitted" action="index.php?page=code&act=traderequestmatch">
    					<div class="controlTrade">
    						<input type="hidden" name="page" value="code">
    						<input type="hidden" name="act" value="traderequestmatch">
    						<input type="submit" value="">
    					</div>
    					</form>
    				</div>
    	</div>