		<div id="badgeRequest" class="badge-box-medium">
    				<div class="contentBadge">
    					<a class="popup-close toggleBox2"></a>
    					<div class="head" style="border: 0 none;">
    						<h1>confirm badge request</h1>
    					</div>
    					<form id="formRequestTradeConfirm" action="#">
    					<img class="kiri" alt="mine" src="images/badge/badge9-big.png">
    					<img class="kanan" alt="yours" src="images/badge/badge12-big.png">
    					<div class="controlTrade">
    						<img alt="Trade" src="images/content/arrow.png">
    						<input class="submitted" type="button" value="">
    					</div>
    					</form>
    				</div>
    	</div>