<div id="sidebar">
        <div id="side-menu">
            <div class="nav-about">
              <h2><a href="index.php?page=about-marlboro-connections" class="about"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-whats">
              <h2><a href="index.php?page=news" class="whats"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-code">
              <h2><a href="index.php?page=code" class="code"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-badge">
                  <h2><a href="index.php?page=code&act=trade" class="badge"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-reedem-active">
                  <h2><a href="index.php?page=code&act=prize" class="reedem"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-game">
                 <h2><a href="index.php?page=games" class="game"><span>&nbsp;</span></a></h2>
            </div>
        </div>
    </div><!-- #sidebar -->
    <div id="content">
    	<div id="reedem-form">
        	<div class="content">
            	<div class="reedem-form"> 
                	<h1>You have chosen the exclusive Connections T-shirt. <br /> 
					<span style="font-size:18px">Remember these badges will be removed from your badge collection. Please confirm or update.<br>
					The prize will be delivered within one month to the address below. Please confirm or update with new details.
					</span></h1>
					
                    <div class="redeemform">
                        <form id="formRedeemConfirm" class="reedem-confirm" method="POST">
                            <div class="row">
                                <label>Street</label>
                                <input type="text" name="street" value="{$data.StreetName}" />
                            </div>
                            <div class="row">
                                <label>Complex</label>
                                <input type="text" name="complex" value="{$data.complex}" />
                            </div>
                            <div class="row">
                                <label>Province</label>
                                <input type="text" name="province" value="{$data.province}" />
                            </div>
                            <div class="row">
                                <label>City</label>
                                <!--<input type="text" name="city" value="{$kota}"/>-->
								<select name="city" class="city">
								{section name=i loop=$city}
									<option value="{$city[i].city}" {if $kota eq $city[i].city}selected="selected"{/if}>{$city[i].city}</option>
								{/section}
								</select>
                            </div>
                            <div class="row">
                                <label>Phone</label>
                                <input type="text" name="phone" value="{$data.phone}" />
                            </div>
                            <div class="row">
                                <label>Mobile</label>
                                <input type="text" name="mobile" value="{$data.MobilePhone}"/>
                            </div>
                            <div class="row">
                                <input type="checkbox" name="agree" />
                                <label class="checkbox">Agree to the <a href="index.php?page=terms-and-condition" target="_blank">terms and conditions</a></label>
                                <input type="hidden" name="prize" value="{$prize}" />
								<input type="submit" class="btnreedem" value="&nbsp;" />
                            </div>
                        </form>
                        <div class="require-badges">
                        	
							{section name=i loop=$require}
							<div class="box">
                            	<a href="javascript:void(0);"><img src="images/badge/badge{$require[i]}.png" /></a>
                                {if $require[i] eq $have[i]}
								<span class="checklist">&nbsp;</span>
								{/if}
							</div>
                        	{/section}
							
                        </div>
                    </div>
                </div><!-- .reedem-form -->
            </div><!-- .content -->
        </div><!-- #reedem-form -->
		
		<div id="popupError" style="display:none;width:250px;height:100px;position:absolute;background:#fff;left:50%;margin-left:-125px;top:300px;border:2px solid #000;padding:10px;">
			<p>Lorem ipsum</p>
			<input id="popupClose" type="button" value="close" />
		</div>
		
		<script type="text/javascript">
		redeemAllow = {$allow};
		</script>
		
    </div><!-- #content -->