<div id="sidebar">
        <div id="side-menu">
            <div class="nav-about">
              <h2><a href="index.php?page=about-marlboro-connections" class="about"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-whats">
              <h2><a href="index.php?page=news" class="whats"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-code">
              <h2><a href="index.php?page=code" class="code"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-badge">
                  <h2><a href="index.php?page=code&act=trade" class="badge"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-reedem-active">
                  <h2><a href="#" class="reedem"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-game">
                 <h2><a href="index.php?page=games" class="game"><span>&nbsp;</span></a></h2>
            </div>
        </div>
    </div><!-- #sidebar -->
    <div id="content">
    	<div id="reedem">
        	<div class="content">
            	<div class="reedem-entry"> 
                	<a class="btn-reedem" href="index.php?page=code&act=prize&prize=berlin-prize-brief"></a>
                	<a class="btn-reedem" href="index.php?page=code&act=prize&prize=new-york-prize-brief-1"></a>
                	<a class="btn-reedem" href="index.php?page=code&act=prize&prize=instanbul-prize-brief"></a>
                	<a class="btn-reedem" href="index.php?page=code&act=prize&prize=new-york-prize-brief-2"></a>
                </div><!-- .reedem-entry -->
            </div><!-- .content -->
        </div><!-- #reedem -->
    </div><!-- #content -->