
<div id="sidebar">
        <div id="side-menu">
            <div class="nav-about-active">
              <h2><a href="index.php?page=about-marlboro-connections" class="about"><span>&nbsp;</span></a></h2>
              <div class="side-submenu">
                <a href="index.php?page=prizes">Prizes</a>
                <a href="#">How to Play</a>
                <a href="#" class="active">Terms and Conditions</a>
              </div>
            </div>
            <div class="nav-whats">
              <h2><a href="index.php?page=news" class="whats"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-badge">
                  <h2><a href="#" class="badge"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-code">
              <h2><a href="index.php?page=code" class="code"><span>&nbsp;</span></a></h2>
            </div>
            <div class="nav-game">
                 <h2><a href="#" class="game"><span>&nbsp;</span></a></h2>
            </div>
        </div>
    </div><!-- #sidebar -->
    <div id="content">
    	<div id="term">
        	<div class="content">
            	<div class="term">  
                <div class="light"></div>
               	  <ul id="mycarousel" class="jcarousel jcarousel-skin-tango" style="width:500px;">
                    <li>
                        <div class="row">
                            <div class="entry">
                            	<h1>TERMS & CONDITIONS</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempor adipiscing nunc, lobortis fringilla justo scelerisque ut. Duis ut est eget sem vulputate commodo. Aliquam dignissim lorem eget erat fringilla rutrum. Nam ac urna orci. Nam tortor nisl, commodo et accumsan vitae, porta a magna. Morbi sed odio lectus. Aenean tellus diam, posuere id viverra sed, tristique non mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi pulvinar nunc dignissim enim convallis sit amet vehicula nisi fringilla. Donec eget enim nec augue lacinia dictum posuere eget metus. Pellentesque non metus ac purus bibendum posuere. Pellentesque sed felis libero, quis semper turpis. Donec interdum elit at libero commodo nec tincidunt mauris sagittis.</p>

<p>Mauris pellentesque nunc nec sapien pretium vitae viverra est semper. Vestibulum cursus, nisl pellentesque accumsan interdum, sem erat fringilla nulla, non lobortis diam tellus ut lectus. Vestibulum lectus dolor, interdum vel sagittis ac, posuere at justo. Duis aliquam sem vitae urna semper eu venenatis leo iaculis. Donec tincidunt convallis purus id rhoncus. Integer mauris leo, tempor a sollicitudin ut, tincidunt ac est. Cras pharetra velit nec quam commodo eget malesuada nisi tristique. Suspendisse elementum odio sed turpis feugiat volutpat. Sed in velit eu erat fringilla commodo.</p>

<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus arcu nisl, ultricies sit amet viverra fermentum, viverra a libero. Donec sem risus, fringilla ac congue ut, feugiat eget diam. Cras vel tellus ut est molestie vulputate eget a velit. Integer vel mattis massa. Cras eleifend justo eu ipsum sodales non sollicitudin est gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lectus nisl, interdum a laoreet non, adipiscing et quam. Suspendisse convallis faucibus ante ac consequat. Suspendisse sit amet lectus magna, quis sagittis felis. Vestibulum ullamcorper egestas mauris, non gravida tortor semper a.</p>

<p>Quisque lobortis lobortis volutpat. Nam laoreet suscipit commodo. Aliquam commodo ipsum at ipsum lobortis eget consectetur nisi sodales. Maecenas imperdiet commodo quam vitae fermentum. Quisque egestas tortor eget nulla rutrum id porta lectus cursus. Nullam a neque vel lacus ullamcorper dapibus nec sed purus. Morbi pellentesque orci sit amet nulla ultricies non malesuada massa ultrices. Sed hendrerit metus quis lectus varius aliquet quis eget lacus. Praesent vel tortor dui, eu convallis erat. Sed at neque id turpis bibendum tempor. Aliquam placerat pellentesque scelerisque. Fusce lorem lectus, dictum quis feugiat eu, tristique sit amet nulla. Vivamus blandit magna ut quam iaculis egestas. Sed vitae est sem, non tempor magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

<p>Phasellus non accumsan quam. Morbi sagittis faucibus dolor vitae malesuada. Fusce in elit sem. Aliquam erat volutpat. Nunc quis tortor eu massa euismod lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed pretium, mi ut bibendum egestas, metus mi porta eros, et ultricies nulla nulla quis est. Duis luctus cursus pellentesque. Morbi consequat, urna ac auctor placerat, odio magna porttitor lorem, eu porttitor velit massa sit amet sem. </p>
                            </div>
                        </div>
                    </li>
                  </ul>
                </div><!-- .newsfeed -->
            </div><!-- .content -->
        </div><!-- #news -->
    </div><!-- #content -->