<div style="padding:10px;">
<p><h2>News Management</h2></p>
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="addlist zebra">
  <tr class="head">
    <td><strong>Title</strong></td>
	<td><strong>Published Date</strong></td>
	<td><strong>Brief</strong></td>
	<td  width="150"><strong>Action</strong></td>
	</tr>
  {section name=i loop=$list}
  <tr>
    <td>{$list[i].news_title}</td>
    <td>{$list[i].news_published_date|date_format}</td>
    <td>{$list[i].news_brief}</td>
    <td><a href="?s=news&act=edit&id={$list[i].news_id}" class="addSubPage">Edit</a><a onclick="return confirm('Are you sure want to delete this news ?');" href="?s=news&act=delete&id={$list[i].news_id}" class="deletePage">Delete</a></td>
    </tr>
  {/section}
</table>
<p>{$paging}</p>
</div>