<div style="padding:10px;">
<p><h2>User Management</h2></p>
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="addlist zebra">
  <tr class="head">
    <td><strong>Name</strong></td>
	<td><strong>Email</strong></td>
	<td><strong>Register Date</strong></td>
  </tr>
  {section name=i loop=$list}
  <tr>
    <td><a href="index.php?s=user&act=listTracking&id={$list[i].id}&nm={$list[i].name}">{$list[i].name}</a></td>
    <td>{$list[i].email}</td>
    <td>{$list[i].register_date|date_format}</td>
	</tr>
  {/section}
</table>
<p>{$paging}</p>
</div>